.alert-win {
  font-size: 30px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}
