body {
  background-image: linear-gradient(
    180deg,
    #4f3f66 0,
    #3b2e5f 25%,
    #1f1f59 50%,
    #001253 75%,
    #00004e 100%
  );
}

.alert-win {
  font-size: 40px;
}

.btn-restart {
  font-size: 25px;
}

#root {
  max-width: 600px;
}

.row-game {
  height: 25vh;
}

.card-game {
  transition: all 0.2s;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}
